#main-forgotten-password{
    #forgotten-password-wrapper{
        width: 80%;
        margin: auto;
        background-color: #f4f4f4;
        border-radius: 6px;
        padding: 20px;
        margin-bottom: 35vh;
        display: flex;
        flex-direction: row;
        .column-div{
            display: flex;
            flex-direction: column;
            width: 50%;
            h4{
                font-size: 22px;
                margin-bottom: 4px;
                margin-top: 0px;
            }
            label{
                margin-top: 5px;
                font-weight: bold;
                font-size: 15px;
            }
            input{
                width: 200px;
                height: 40px;
                margin-bottom: 20px;
                padding-left: 5px;
            }
            button{
                width: 200px;
                height: 40px;
                border-radius: 20px;
                border-style: none;
                background-color: $rendex-orange;
                font-size: 16px;
                color: white;
                font-weight: bold;
                &:hover{
                    cursor: pointer;
                }
            }
        }
        #forgotten-password-hero{
            width: 50%;
            height: 200px;
            background-size: contain;
            background-repeat: no-repeat;
            background-image: url('../assets/images/forgotten-password-hero.svg');
        }
    }
}