@media (min-width:875px){
    #main-inbox{
        margin-top: 20px;
        padding-top: 50px;
        padding-bottom: 20px;
        background-color: #e9e9e9;
    }
    .inbox-wrapper-wrapper{
        width: 875px;
        margin: auto;
        .inbox-wrapper{
            display: flex;
            height: 800px;
            .conversation-inbox-list{
                background-color: #38383D;
                width: 30%;
                color: white;
                border-top-left-radius: 8px;
                border-bottom-left-radius: 8px;
                overflow: hidden;
                #noconversations{
                    display: none;
                    text-align: center;
                }
                h1{
                    font-size: 24px; 
                    margin-bottom: 0;
                    padding-left: 10px;
                    margin-bottom: 6px;
                }
                .inbox-separator{
                    height: 1px;
                    border-bottom: groove 1px;
                }
                #conversation-list{
                    display: flex;
                    flex-direction: column;
                    overflow-y: scroll;
                    height: 750px;
                    padding-bottom: 1px;
                    &:nth-last-child(1){
                        border-bottom-left-radius: 8px;
                    }
                }
                .conversation-selection{
                    display: flex;
                    flex-direction: column;
                    margin: 0;
                    padding: 10px;
                    &:hover{
                        background-color: #515155;
                    }
                    .conversation{
                        display: flex;
                        .conversation-img{
                            width: 20%;
                            align-items: center;
                            margin: auto;
                            display: flex;
                            justify-content: center;
                            img{
                                width: 40px;
                                height: 40px;
                                border-radius: 20px;
                            }
                        }
                        .conversation-list-information{
                            width: 80%;
                            .name-and-date{
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                                width: 100%;
                                p{
                                    margin-top: 0; font-size: 14px;
                                }
                                .conversation-date{
                                    font-weight: bold;
                                    font-size: 12px;
                                }
                            }
                            .message-cue{
                                display: flex;
                                flex-direction: row;
                                margin-top: 16px;
                                margin-bottom: 0;
                                p{margin: 0; font-size: 12px;}
                            }
                        }
                    }
                }
    
            }
            .conversation-display{
                width: 70%;
                background-color: #2A2A2E;
                border-left: groove 1px;
                color: white;
                border-top-right-radius: 8px;
                border-bottom-right-radius: 8px;
                overflow: hidden;
                #conversation-header{
                    height: 95px;
                }
                .conversation-header-information{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding-left: 10px;
                    padding-right: 20px;
                    #conversation-header-information-text{
                        display: none;
                    }
                    #conversation-options{
                        display: none;
                        font-size: 16px;
                        user-select: none;
                    }
                    #conversation-options-window{
                        display: flex;
                        flex-direction: column;
                        padding: 10px;
                        border-radius: 6px;
                        background-color: #434347;
                        row-gap: 6px;
                        font-size: 12px;
                        position: absolute;
                        margin-left: 460px;
                        margin-top: 30px;
                        user-select: none;
                        display: none;
                    }
                }
                .header-separator-inbox{
                    height: 1px;
                    border-top: groove 1px;
                }
                .conversation-topic-clue{
                    padding-left: 10px;
                    #conversation-topic-p{
                        display: none;
                    }
                }
                .chat-display-window{
                    height: 650px;
                    margin-top: 0.5px;
                    overflow-y: scroll;
                    #insert-window{
                        background-color: #434347;
                        position: absolute;
                        display: flex;
                        flex-direction: column;
                        margin-top: 600px;
                        margin-left: 10px;
                        row-gap: 6px;
                        padding: 6px;
                        border-radius: 6px;
                        z-index: 10;
                        user-select: none;
                        display: none;
                    }
                }
                .chat-input-wrapper{
                    height: 50px;
                    margin: auto;
                    display: flex;
                    overflow: visible;
                    .insert-button-chat{
                        display: none;
                        margin: auto;
                        margin-right: -5px;
                        height: 20px;
                        #insert-button-chat{
                            &:hover{
                                filter: brightness(50%);
                            }
                        }
                    }
                    .chat-input{
                        margin: auto;
                        display: none;
                        width: 90%;
                        #chat-input{
                            background-color: #434347;
                            color: white;
                            border-radius: 20px;
                            border-style: none;
                            height: 35px;
                            width: 530px;
                            padding-left: 20px;
                            font-size: 14px;
                            &:focus{
                                outline: none;
                            }
                        }
                        #chatinput-sendbtn{
                            background-color: #434347;
                            position: absolute;
                            img{
                                width: 10px;
                                height: 10px;
                            }
                        }
    
                    }
                }
            }
        }
    }
    
    /*********************** Chat CSS ***************************/
    #text-sent{
        padding-right: 10px;
        .text-sent-wrapper{
            display: flex;
            flex-direction: column;
            float: right;
            text-align: right;
        }
        .chat-text{
            text-align: right;
            margin-bottom: 10px;
            p{
                background-color: #1f4ece;
                border-radius: 20px;
                padding: 10px 10px 10px 20px;
                text-align: left;
            }
        }
    }
    #text-recieved{
        padding-left: 10px;
        .chat-time-stamp{
            p{text-align: left;}
        }
        .chat-text{
            text-align: left;
            margin-bottom: 10px;
            p{
                background-color: gray;
                border-radius: 20px;
                padding: 10px 20px 10px 20px;
            }
        }
    }
    .testish{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    #chat-list{
        list-style-position: none;
        list-style-image: none;
        list-style-type: none;
        display: flex;
        flex-direction: column;
        margin: 0;
        padding-left: 0;
        .chat-item{
            .chat-time-stamp{
                font-size: 12px;
            }
            .chat-text{
                color: white;
                height: auto;
                max-width: 300px;
                display: flex;
                p{margin: 0;}
            }
        }
    }
    #imginput, #fileinput{
        display: none;
    }
    /*********************** Chat CSS ***************************/
}