/* Main search */
@media(min-width:875px){
    #indexmain{
        overflow-x: hidden;
        width: 100%;
    }
    #indexsearchsection{                    /* <Section> */
        background-color: #fff;
        background-size: cover;
        background-position: 10% 65%;
        width: 100%;
        float: left;
        margin-top: -100px;
        #indexsearchsection-wrapper{
            display: flex;
            flex-direction: row;
            width: 70%;
            margin: auto;
            margin-top: 50px;
            margin-bottom: 30px;
            padding-top: 40px;
            #indexheaderdiv{
                padding-top: 10px;
                padding-left: 10px;
                margin-top: 50px;
                width: 60%;
                h1{
                    font-size: 2.5vw; 
                    color: black; 
                    margin-bottom: 10px;
                    margin-top: 0px;
                    width: 80%; 
                    .orange{
                        color: $rendex-orange;
                    }
                }
                ul{
                    list-style-type: none;
                    padding-left: 0px;
                    li{
                        font-size: 18px;
                        margin-bottom: 8px;
                        .orange{
                            color: $rendex-orange !important;
                        }
                    }
                }
            }
            #hero-background{
                width: 40%;
                img{
                    max-height: 45vh;
                    max-width: 100%;
                }
            }
        }
    }
    #testish{
        padding: 20px;
        display: flex;
        flex-direction: column;
        background-color: #f4f4f4;
        h1{
            text-align: center;
            margin-top: 0px;
            font-size: 34px;
            margin-bottom: 14px;
        }
        #indexwrapper{
            display: flex;
            flex-direction: column;
            background-color: #333;
            max-width: 660px;
            padding: 20px;
            margin: 50px 20px 20px 20px;
            border-radius: 8px;
            width: 60%;
            margin: auto;
            #h1search{
                margin-bottom: 0px;
                margin: auto;
            }
            #tablewrappersearch{            /* <div "wrapper"> */
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                gap: 10px;
                .indexwrapper-column{
                    display: flex;
                    flex-direction: column;
                    width: 48%;
                    .indexwrapper-inputwrapper{
                        display: flex;
                        flex-direction: column;
                        h3{
                            margin-bottom: 4px;
                            font-weight: 600;
                            font-size: 16px;
                            color: white;
                        }
                        .indexwrapper-input-div{
                            display: flex;
                            align-items: center;
                            justify-content: flex-end;
                            select{
                                border-radius: 3px; 
                                border-color: #333; 
                                border-width: 1px; 
                                appearance: none; 
                                margin-top: 0px;
                                width: 100%;
                                height: 40px;
                                font-size: 16px;
                                padding-left: 8px;
                            }
                            .arrow-select{
                                position: absolute;
                                padding-right: 10px;
                                width: 14px;
                                height: 14px;
                            }
                        }
                    }
                }
            }
            .indexsearchbutton{
                display: flex;
                justify-content: center;
                margin-top: 20px;
                #indexsearchbutton{
                    position: relative;
                    width: 150px;
                    height: 40px;
                    font-size: 18px;
                    font-weight: bolder;
                    color: black;
                    background-color: #f4f4f4; 
                    border-radius: 20px;
                    border-style: none;
                    &:hover{
                        opacity: 0.8; 
                        cursor: pointer;
                        top: -2px;
                    }
                }
            }
        }
    }
    #company-number-wrapper{
        background-color: #333;
        #company-number-row{
            display: flex; 
            align-content: stretch;
            align-items: flex-start; 
            text-align: center; 
            gap: 0px; 
            justify-content: space-evenly;
            width: 62%; 
            margin: auto; 
            padding: 20px;
            div{
                &:nth-child(1){width: 33% !important;}
                &:nth-child(3){width: 33% !important;}
                &:nth-child(5){width: 33% !important;}
                .line-separator{width: 1px;}
            }
            .company-stats-container{
                width: 33%; 
                padding-left: 10px; 
                padding-right: 10px;
                h1{
                    font-size: 64px; 
                    color: white; 
                    margin: 0px;
                }
                p{
                    width: 100%; 
                    color: white;
                    margin: 0px;
                }
            }
        }
    }
    #index-text{
        width: 100%; 
        margin: auto; 
        background-color: #fff;
        #index-text-wrapper-wrapper{
            width: 80%;
            display: flex;
            flex-direction: column;
            margin: auto;
            padding: 20px;
            #index-text-header{
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 60%;
                padding: 12px;
                margin: auto;
                margin-bottom: 10px;
                h3{
                    text-align: center;
                    font-size: 38px;
                    margin-bottom: 2px;
                    margin-top: 0px;
                }
                p{
                    font-size: 20px;
                    text-align: center;
                }
                #index-text-btn{
                    position: relative;
                    background-color: $rendex-orange;
                    width: 200px;
                    height: 40px;
                    font-size: 18px;
                    font-weight: bolder;
                    border-radius: 20px;
                    border-style: none;
                    margin: 20px auto;
                    color: white;
                    box-shadow: 0 2px 5px rgba(0,0,0,.3);
                    &:hover{
                        opacity: 0.8;
                        cursor: pointer;
                        color: #333;
                        top: -2px;
                        box-shadow: 0 4px 10px rgba(0,0,0,.5);
                    }
                }
            }
        }
    }
}
@media(min-width:1500px){
    #index-text-wrapper{
        width: 100%;
        display: flex;
        flex-direction: row;
        margin: auto;
        .index-text-column{
            width: 24%;
            border-radius: 8px;
            background-color: #f4f4f4;
            padding: 12px;
            margin: 0 20px 20px 20px;
            .index-text-header{
                display: flex;
                flex-direction: row;
                align-items: center;
                img{
                    height: 30px;
                    margin-right: 6px;
                }
                h3{
                    font-size: 20px; 
                    margin-bottom: 0px;
                    margin-top: 0px;
                }
            }
            p{
                line-height:1.5rem;
                font-size: 18px;
                margin-top: 15px;
            }
            a{color: blue;
                &:hover{
                    color: slategray;
                }
            }
        }
    }
}
@media(max-width:1500px) and (min-width:875px){
    #index-text-wrapper{
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: auto;
        .index-text-column{
            width: 40%;
            border-radius: 8px;
            background-color: #f4f4f4;
            padding: 12px;
            margin: 0 20px 20px 20px;
            .index-text-header{
                display: flex;
                flex-direction: row;
                align-items: center;
                img{
                    height: 30px;
                    margin-right: 6px;
                }
                h3{
                    font-size: 20px; 
                    margin-bottom: 0px;
                    margin-top: 0px;
                }
            }
            p{
                line-height:1.5rem;
                font-size: 18px;
            }
            a{color: blue;
                &:hover{
                    color: slategray;
                }
            }
        }
    }
}
@media(min-width:875px){
    #firstpage-background{
        display: none;
    }
    #index-showcase-offers{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 30px;
        width: 100vw;
        text-align: center;
        overflow: hidden;
        background-color: #f4f4f4;
        padding-bottom: 30px;
        #index-showcase-offers-header{
            display: flex;
            flex-direction: column;
            margin: auto;
            justify-content: center;
            text-align: center;
            h2{
                font-size: 34px;
                margin-bottom: 0px;
                margin: 20px auto 0px auto;
                width: 70%;
                text-align: center;
            }
            p{
                font-size: 20px;
            }
        }
        #index-showcase-offers-wrapper{
            width: 80%;
            margin: auto;
            .index-showcase-wrapper{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                margin-top: 40px;
                .index-showcase-header{
                    display: flex;
                    flex-direction: column;
                    text-align: left;
                    width: 30%;
                    h3{
                        font-size: 34px;
                        margin-bottom: 4px;
                        margin-top: 0px;
                    }
                    p{
                        font-size: 20px;
                        margin: 0px;
                    }
                }
                .index-showcase-job{
                    width: 60%;
                    display: flex;
                    flex-direction: column;
                    #index-coding-wrapper{
                        height: auto;
                        #index-coding-top{
                            border-top-left-radius: 8px;
                            border-top-right-radius: 8px;
                            width: 100%;
                            background-color: #04293A;
                            display: flex;
                            flex-direction: row;
                            justify-content: space-between;
                            border-bottom: 1px solid white;
                            #index-coding-top-filename{
                                display: flex;
                                flex-direction: row;
                                margin-left: 60px;
                                background-color: #0f3b50;
                                padding: 0px 15px;
                                align-items: center;
                                p{
                                    &:nth-child(1){
                                        color: yellow;
                                        font-weight: bold;
                                    }
                                    &:nth-child(2){
                                        color: white;
                                        margin-left: 8px;
                                    }
                                    &:nth-last-child(1){
                                        color: white;
                                        font-weight: bolder;
                                        margin-left: 10px;
                                    }
                                }
                            }
                            #index-coding-top-btn-wrapper{
                                display: flex;
                                flex-direction: row;
                                justify-content: flex-end;
                                align-items: center;
                                margin-right: 10px;
                                .index-coding-top-btn{
                                    margin-top: 4px;
                                    margin-left: 6px;
                                }
                            }
                        }
                        #index-coding-middlepart{
                            display: flex;
                            flex-direction: row;
                            flex-wrap: wrap;
                        }
                        #index-code-wrapper{
                            width: 100%;
                            border-bottom-right-radius: 8px;
                            border-bottom-left-radius: 8px;
                            overflow: hidden;
                            code{
                                padding-top: 15px;
                                padding-left: 14px;
                                text-align: left;
                                background-color: #04293A;
                                color: white;
                                line-height: 1.2;
                                overflow: auto;
                                min-width: 500px;
                                display: flex;
                                flex-direction: column;
                                height: 426px;
                                border-bottom-right-radius: 8px;
                                border-bottom-left-radius: 8px;
                                .code-row{
                                    display: flex;
                                    flex-direction: row;
                                    &:nth-last-child(1){
                                        margin-bottom: 12px;
                                    }
                                }
                                .code-blue{
                                    color: #92c9fd;
                                }
                                .code-yellow{
                                    color: yellow;
                                }
                                .code-orange{
                                    color: orange;
                                }
                                .code-darkblue{
                                    color: #4784a5;
                                }
                                .code-pink{
                                    color: rgb(139, 7, 139);
                                }
                                .code-green{
                                    color: greenyellow;
                                }
                            }
                        }
                    }
                }
            }
 
        }
    }
    #index-contact-us{
        background-color: #f4f4f4;
        text-align: center;
        padding: 40px 0px 40px 0px;
        h3{
            width: 80%;
            font-size: 30px;
            margin: auto;
        }
        p{
            font-size: 20px;
        }
        #index-offert-btn{
            position: relative;
            height: 40px;
            font-size: 18px;
            font-weight: bolder;
            color: white;
            background-color: $rendex-orange; 
            border-radius: 20px;
            border-style: none;
            padding: 10px 20px 10px 20px;
            margin-top: 40px;
            box-shadow: 0 2px 5px rgba(0,0,0,.3);
            &:hover{
                opacity: 0.8;
                cursor: pointer;
                color: black;
                top: -2px;
                box-shadow: 0 4px 10px rgba(0,0,0,.5);
            }
        }
    }
    #index-subscription{
        display: flex;
        flex-direction: column;
        background-color: #ffffff;
        h3{
            font-size: 36px;
            text-align: center;
            margin-bottom: 0px;
        }
        #index-subscription-top-btn{
            width: 30%;
            margin: auto;
            #index-subscription-top-wrapper{
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                p{
                    font-size: 18px;
                    margin-top: 0px;
                    margin-bottom: 0px;
                    &:nth-last-child(1){
                        font-weight: bolder;
                    }
                }
                .button-slider{
                    margin-top: 40px;
                    margin-left: 60px;
                    transform: translate(-50%,-50%);
                    input{
                        position: relative;
                        width: 60px;
                        height: 30px;
                        appearance: none;
                        -webkit-appearance: none;
                        background-color: #c6c6c6;
                        outline: none;
                        border-radius: 20px;
                        box-shadow: inset 0 0 5px rgba(0,0,0,.2);
                        transition: 0.5s;
                        &:checked{
                            background: #35a848;
                        }
                    }
                    input::before{
                        content: "";
                        position: absolute;
                        width: 24px;
                        height: 24px;
                        border-radius: 20px;
                        top: 3px;
                        left: 4px;
                        background: #fff;
                        transition: .5s;
                        transform: scale(1.1);
                        box-shadow: 0 2px 5px rgba(0,0,0,.2);
                    }
                    input:checked::before{
                        left: 33px;
                    }
                }
            }
        }
        #index-subscription-plan-options{
            margin: auto;
            width: 56%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            .index-subscription-option{
                width: 26%;
                background-color: #f4f4f4;
                border-radius: 8px;
                margin-bottom: 20px;
                padding-left: 30px;
                padding-bottom: 20px;
                h4{
                    font-weight: bolder;
                    font-size: 22px;
                    margin-bottom: 0px;
                }
                p{
                    margin-top: 4px;
                    font-size: 14px;
                }
                .index-subscription-price{
                    p{
                        .bold{
                            font-size: 24px;
                        }
                    }
                }
                .index-subscription-info{
                    ul{
                        list-style: none;
                        padding-left: 0px;
                        li{
                            .orange{
                                margin-right: 8px;
                            }
                            font-size: 16px;
                            margin-bottom: 8px;
                        }
                    }
                }
                .index-subscription-btn{
                    display: flex;
                    justify-content: center;
                    button{
                        position: relative;
                        margin-top: 20px;
                        font-size: 16px;
                        border-radius: 20px;
                        font-weight: bolder;
                        padding: 10px 20px 10px 20px;
                        margin-left: -20px;
                        border-style: none;
                        box-shadow: 0 2px 5px rgba(0,0,0,.3);
                        &:hover{
                            cursor: pointer;
                            opacity: 0.8;
                            top: -2px;
                            box-shadow: 0 4px 10px rgba(0,0,0,.5);
                        }
                    }
                }
                #index-subscription-btn-1{
                    background-color: rgb(126, 121, 121);
                    color: white;
                }
                #index-subscription-btn-2{
                    background-color:#333;
                    color: white;
                }
                #index-subscription-btn-3{
                    background-color: $rendex-orange;
                    color: white;
                    &:hover{
                        color: black;
                    }
                }
            }
        }
        #index-subscription-option-1{
            border-top: rgb(126, 121, 121);
            border-top-style: solid;
            border-width: 6px;
        }
        #index-subscription-option-2{
            border-top: #333;
            border-top-style: solid;
            border-width: 6px;
        }
        #index-subscription-option-3{
            border-top: $rendex-orange;
            border-top-style: solid;
            border-width: 6px;
        }
    }
}
@media(max-width:1080px) and (min-width:875px){
    #hero-background{
        margin-top: 30px;
    }
}
// Index Text START //


// Index Text END //
#error-message-purpose, #error-message-role{
    margin: 0;
    font-size: 14px;
    color: red;
    display: none;
}
.orange{
    color: $rendex-orange;
}