/*LOGIN/ACCOUNT PAGE SETTINGS START*/
.body-login{
    background-color: #fff;
}
@media(min-width:875px){
    #login{
        margin-bottom: 200px;
    }
    .containercentre-wrapper-wrapper{
        display: flex;
        flex-direction: row;
        margin: auto;
        text-align: center;
        border-radius: 6px;
        background-color: #f4f4f4;
        width: 80%;
        height: 65vh;
        #login-wrapper-wrapper{
            width: 40%;
            .containercentre-wrapper{
                margin-left: 40px;
                margin-right: 40px;
                margin-top: 20px;
                margin-bottom: 10px;
                h4{
                    text-align: left;
                    font-size: 24px;
                    margin-bottom: 0px;
                    margin-top: 8px;
                    margin-left: 20px;
                }
                #containercentre-firstrow-desktop{
                    display: none;
                    h1{font-size: 22px;}
                    h3{font-size: 16px; font-weight: normal; line-height: 1.4;}
                }
            }
            .containercentre-secondrow{
                display: none;
                justify-content: space-between;
                margin-top: auto;
                margin-bottom: 10px;
                a{
                    margin: 20px 40px 10px 40px;
                    font-size: 18px; 
                    color: #00006d; 
                    font-weight: bold;
                    &:hover{
                        text-decoration: underline !important;
                    }
                }
            }
        }
        #login-side-hero{
            background-image: url(../assets/images/freelans-hero-create-account.svg);
            background-size: cover;
            width: 60%;
            border-radius: 6px;
        }
    }
    .bankID-QR{
        img{    
            width: 50%;
            height: 50%;}
    }
    #bankid-initatebutton{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;
        width: 95%;
        font-size: 18px;
        padding: 14px;
        border-radius: 6px;
        border-style: none;
        font-weight: bolder;
        background-color: $rendex-orange;
        color: white;
        &:hover{
            background-color: $rendex-orange-hover;
            cursor: pointer;
        }
        img{
            width: 25px;
            height: 25px;
            margin-left: 30px;
        }
    }
    .company-information-row{
        text-align: center;
        margin-top: 20px;
        p{margin: 5px; font-size: 12px; color: #707070;}
    } 
    .containercentre-wrapper-wrapper-mobile{
        display: none !important;
    }
    .close-sidehelp-button{
        width: 50%;
        margin-left: 20px;
        margin-top: 16px;
        border-radius: 20px;
        border-color: black;
        border-style: solid;
        padding: 8px;
        font-size: 18px;
        &:hover{
            background-color:black; 
            color: white;
        }
    }
    #alternative-login-wrapper-wrapper{
        margin: auto;
        width: 100%;
        #alternative-login-wrapper{
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            margin: auto;
            width: 80%;
            padding: 20px;
            gap: 20px;
            #bankid-button-wrapper{
                display: flex;
            }
            #error-message-login-wrapper{
                display: none;
                padding: 20px;
                #error-message-login{
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    background-color: #ff000021;
                    padding: 10px;
                    border-radius: 8px;
                    #error-message-text{
                        margin-left: 20px;
                        text-align: left;
                        p{
                            margin: 0;
                        }
                    }
                }
                #error-message-warningsymbol{
                    height: 40px;
                    width: 40px;
                }
            }
            #password-wrapper{
                position: relative;
                #show-password-login{
                    margin-right: 1vw;
                }
            }
            #användarnamnlogin, #lösenordlogin{
                width: 90%;
                height: 40px;
                border-radius: 6px;
                padding-left: 10px;
                margin: auto;
            }
            #login-btn{
                margin: auto;
                width: 95%;
                font-size: 18px;
                padding: 14px;
                border-radius: 6px;
                border-style: none;
                font-weight: bolder;
                background-color: $rendex-orange;
                color: white;
                &:hover{
                    background-color: $rendex-orange-hover;
                    cursor: pointer;
                }
            }
            #close-bankId{
                display: none;
                margin: auto;
                width: 95%;
                font-size: 18px;
                padding: 14px;
                border-radius: 6px;
                border-style: none;
                font-weight: bolder;
                background-color: $rendex-orange;
                color: white;
                &:hover{
                    background-color: $rendex-orange-hover;
                    cursor: pointer;
                }
            }
        }
    }
}
@media(min-width: 1380px){
    #login-referral-wrapper{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    p{
        margin-top: 0px;
        margin-bottom: 0px;
    }
}
@media(max-width: 1380px) and (min-width:875px){
    #login-referral-wrapper{
        flex-direction: column;
        p{
            text-align: left;
            margin-left: 12px;
            margin-top: 10px;
        }
    }
}
#login-referral-wrapper{
    display: flex;
    #forgot-password{
        font-size: 16px;
        color: black;
        margin-left: 12px;
        text-align: left;
        font-weight: bold;
        &:hover{
            opacity: 0.8;
            cursor:pointer;
        }
    }
    p{
        font-size: 16px;
        color: black;
        a{
            font-size: 16px;
            font-weight: bold;
            &:hover{
                opacity: 0.8;
                cursor:pointer;
            }
        }
    }
}

/*LOGIN/ACCOUNT PAGE SETTINGS END*/
//***************************** BankID Help window ************************* //
.side-navhelp{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 10;
    top: 0;
    right: 0;
    background-color: #0F1419;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    color: white;
    h1, h2, p{
        margin-left: 20px; 
        margin-bottom: 0px;
    }
    h1{font-size: 24px;}
    h2{font-size: 20px;}
    p{
        margin-right: 20px; 
        font-size: 18px;
    }
    a{
        text-decoration: none;
        font-size: 18px;
        display: block;
        transition: 0.5s;
        margin-left: 20px;
        text-transform: none;
        margin-top: 2px;
        margin-bottom: 2px;
        color: $hover-dark;
        &:hover{
            color: white;
        }
    }
    .left-shift{
        margin-left: 6px;
        p{font-size: 16px;}
    }
    .close-sidehelp-cross{
        position: absolute;
        top: 0;
        right: 22px;
        font-size: 50px;
        margin-left: 50px;
        color: white;
        &:hover{
            color: $hover-dark;
        }   
    }
}
//***************************** BankID Help window ************************* //