/* START NAVBAR */
@media(min-width:1081px){
    #header{
        background-color: none;
        color: white;
        width: 100%;
        margin: auto;
        padding-bottom: 10px;
        position: fixed;
        z-index: 10;
        display: flex;
        transition: 250ms;
        a{    
            color: black;
            text-decoration: none;
            text-transform: uppercase;
            float: right;
            font-size: 16px;}
        li{
            float: right;
            display: inline;
            padding: 3px 20px 0 20px;
        }
        nav{margin-top: 10px;}
        #navlogo{float: left;margin-top: 15px;
            img{
                margin: 0;
            }
            #logo-mobile{
                display: none;
            }
        }
        .container{
            width: 60%;
            margin: auto;
            overflow: hidden;
        }
    }
    .navbarselector {
        li{
            margin: 0;
            cursor: pointer;
            color: black;
            p{
                color: black;
            }
            a{
                color: black;
            }
        }
        #languageanchor{
            display: flex;
            flex-direction: row;
            align-items: center;
            p{
                margin: 0px;
                margin-left: 4px;
            }
        }
        a:hover{
            color: slategray;
        }
    }
    .side-nav{
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 10;
        top: 0;
        right: 0;
        background-color: #111;
        overflow-x: hidden;
        padding-top: 60px;
        transition: 0.5s;
        display: flex;
        flex-direction: column;
        a {
            text-decoration: none;
            font-size: 22px;
            display: block;
            transition: 0.5s;
            padding: 0.4em 0.5em;
            &:hover{
                color: $dark-mode-hover;
                transition: 0.3s;
            }
        }
        .btn-close {
            position: absolute;
            top: 0;
            right: 22px;
            font-size: 36px;
            margin-left: 50px;  
            text-align: right; 
        }

    }
}
@media(min-width:1080px){
    #language-options{
        display: none;
        flex-direction: column;
        position: absolute;
        background-color: #f4f4f4;
        top: 100%;
        z-index: 10;
        overflow: visible;
        color: black;
        border-radius: 8px;
        padding: 0px;
        box-shadow: rgb(154, 153, 153) 0px 2px 8px 0px;
        li{
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 10px 20px 10px 20px;
            &:nth-child(1){
                margin-bottom: 10px;
                &:hover{
                    border-top-left-radius: 8px;
                    border-top-right-radius: 8px;
                }
            }
            &:last-child{
                &:hover{
                    border-bottom-right-radius: 8px;
                    border-bottom-left-radius: 8px;
                }
            }
            &:hover{
                background-color: #d8d8d8;
            }
            img{
                height: 20px;
                margin-right: 10px;
            }
        }
    }
}
@media(min-width:1080px){.open-slide{display: none;}}

#loggedInTrue{
    display: none;
}

/* END NAVBAR */