@import 'searchpage/searchpage_searchbar'; // Search-window Section //
@import 'searchpage/searchpage_results'; // Search-result section //
@import 'searchpage/searchpage_navigation'; // Search-navigation section //

// ********************** Rightpage Section ************************************ //
@media(max-width:875px){
    .search-result-rightpage{display: none;}
}
// ********************** Rightpage Section ************************************ //
// Search icon SVG //
.iconSearch_svg{
    z-index: 2;
    position: absolute;
    width: 16px;
    height: 16px;
    margin: 12px 0 0 6px;
}
//Search icon SVG //

//***************************** Page mini nav ******************************//
@media(min-width:875px){
    .page-nav-searchpage-wrapper{
        background-color: $dark-blue2;
        color: white;
        margin-bottom: 50px;
    }
}
@media(max-width:875px){
    .page-nav-searchpage-wrapper{
        display: none;
        a, p{display: none;}
    }
}
.page-nav-searchpage-wrapper{
    display: flex;
    width: 100%;
    justify-content: center;
    height: 30px;
    .page-nav-searchpage{
        display: flex;
        align-items: center;
        width: 80%;
        padding-left: 40px;
        a{margin: 0 5px 0 5px;}
    }
}
//***************************** Page mini nav end******************************//