/* START GLOBAL SETTINS */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import 'global';
@import 'navbar'; /*Header*/
@import 'pagenav';
@import 'footer'; /*Footer*/
@import 'sidebars'; /* Sidebars */
/* END GLOBAL SETTINGS - End Here!*/

@import 'index'; /* Index Page, indexsearch & showcase */

@import 'login'; /* Login page settings */
@import 'createaccount'; /* Create Account Page */
@import 'profile'; /* Account page */
@import 'faq'; /* Frequently Asked Questions Page */
@import 'searchpage'; /* Search Page */
@import 'contactus'; /* Contact us page */
@import 'inbox'; /* Inbox Page */
@import 'myaccount';
@import 'article';
@import 'settings';
@import 'createarticle';

@import 'mobile'; /* MOBILE CSS */

/* terms of use PAGE START*/
.containercentretou{
    margin: auto;
    display: flex;
    flex-direction: column;        
    border-radius: 8px;
    max-width: 700px;
    margin-bottom: 100px;
    ul{padding-left: 40px;}
    a{color: blue;}
    h2{margin: 30px 0 0px 0;}
    h1{text-align: center;}
    p{margin: 0 0 20px 0;}
}

#loadingwindow{
    height: 0vh;
    width: 100vw;
    top: 0;
    position: fixed;
    z-index: 20;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    overflow: hidden;
    border-radius: 6px;
    box-shadow: 5px 10px 10px #3333332f;
    #loading{
        margin: auto;
        width: 40px;
        height: 40px;
        border: 5px solid rgba(51, 51, 51, 0.11);
        border-radius: 50%;
        border-top-color: $rendex-orange;
        animation: spin 1s linear infinite;
    }
    @keyframes spin{
        100%{
            transform: rotate(360deg);
        }
    }
}