// ************************** Search-result section ***************************//
.search-result-main{
    padding-top: 0;
    padding-bottom: 10vh;
    background-color: #fff;
}
.search-result-topwrapper{
    width: 100%;
    display: grid;
}
@media(min-width:875px){
    .search-result-wrapper{
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
        margin: auto;
        .search-result-midpage{
            display: flex;
            width: 60%;
            flex-direction: column;
            .search-result-midpage-header{  // Header Section //
                display: flex;
                width: 100%;
                justify-content: space-between;
                align-items: center;
                .search-result-midpage-header-right{
                    width: 50%;
                    text-align: right;
                }
                .search-result-midpage-header-left{
                    width: 50%;
                    text-align: left;
                    h1{font-size: 16px;}
                }
            }    
            .search-result-rightpage{
                width: 100%;
                background-color: #f4f4f4;
                border-radius: 3px;
                margin-bottom: 40px;
                margin-top: 40px;
            }                          
            .search-result-midpage-results{     // End of Header section //
                width: 100%;                    // Result Section //
                margin-bottom: 40px;
                #article-wrapper-wrapper{
                    width: 100%;
                    .article-wrapper{
                        display: flex;
                        flex-direction: row;
                        background-color: #f4f4f4 !important;
                        justify-content: space-between;
                        padding: 10px 20px 10px 20px;
                        border-radius: 4px;
                        margin-bottom: 10px;
                        height:140px;
                        &:hover{
                            cursor: pointer;
                            border-left: 4px solid #333;
                            padding-left: 16px;
                        }
                        .article-image-wrapper{
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            width: 20%;
                        }
                        .article-information-wrapper{
                            display: flex;
                            flex-direction: column;
                            width: 80%;
                            .title-wrapper{
                                width: 100%;
                                display: flex;
                                flex-direction: row;
                                justify-content: space-between;
                                .article-title{
                                    font-weight: bold;
                                    font-size: 18px;
                                    max-width: 80%;
                                    margin: 0px;
                                    margin-top: 0px;
                                }
                                .time-stamp{
                                    text-align: right;
                                    width: 20%;
                                    margin: 0px;
                                }
                            }
                            .article-information-middle{
                                margin-top: 10px;
                                margin-bottom: 10px;
                            }
                            .article-information-bottom{
                                display: flex;
                                flex-direction: row;
                                align-items: center;
                                justify-content: space-between;
                                margin-top: auto;
                                .article-info{
                                    width: 30%;
                                }
                                .article-rating{
                                    display: flex;
                                    flex-direction: row;
                                    align-items: center;
                                }
                                .article-price{
                                    margin: 0px;
                                }
                                .article-class{
                                    margin: 0px;
                                }
                            }
                        }
                    }
                }
            }
            #no-articles-found{
                display: none;
                background-color: #f4f4f4;
                margin-bottom: 30px;
                h3{
                    font-size: 26px;
                    margin-bottom: 10px;
                    text-align: center;
                    padding-left: 20px;
                    padding-right: 20px;
                }
                p{
                    padding-left: 20px;
                    padding-right: 20px;
                    font-size: 18px;
                    text-align: center;
                }
            }
        }
    }
    #darkcover{
        display: none;
        position: fixed;
        top: 0;
        height: 100%;
        width: 100%;
        z-index: 2;
        background-color: rgba(0, 0, 0, 0.6);
        transition: 0.5s;
    }
    #searchpage-filter-window{
        height: 70vh;
        width: 0px;
        position: fixed;
        z-index: 10;
        top: 15vh;
        right: 20%;
        background-color: #f4f4f4;
        transition: 0.5s;
        display: none;
        flex-direction: column;
        color: black;
        border-radius: 6px;
        box-shadow: 5px 10px 10px rgba(51, 51, 51, 0.384);
        padding: 20px;
        #searchpage-filter-top{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            h4{
                font-size: 24px;
                font-weight: bold;
                margin-top: 0px;
                margin-bottom: 0px;
            }
            a{
                display: flex;
                flex-direction: row;
                align-items: center;
                padding: 6px 12px 6px 12px;
                &:hover{
                    background-color: #d4d4d4;
                    border-radius: 30px;
                }
                span{
                    font-size: 30px;
                    margin-left: 10px;
                }
            }
        }
        #searchpage-mid-wrapper{
            #searchpage-mid-left{

            }
            #searchpage-mid-right{

            }
        }
    }
}
// ************************** Search-result section ***************************//