// *********************** Search-window Section Start ************************//
@media(min-width: 875px){
    .searchpage-section{
        width: 100%;
        #search-tabber{
            display: flex;
            flex-wrap: wrap;
            flex-flow: row; 
            margin-top: 78px;
            padding-top: 5px;
            padding-bottom: 5px;
            width: 100%;
            background-color: #333;
            #search-tabber-subdiv{
                display: flex;
                width: 60%;
                height: 60px;
                margin: auto;
                align-items: center;
                z-index: 1;
                .indexsearch-input{
                    display: flex;
                    height: 50px;
                    position: relative;
                    border: medium none;
                    width: 80%;
                    .searchpage-search{
                        width: 100%;
                        height: 40px;
                        padding: 5px;
                        margin-left: -5px;
                        border-radius: 3px;
                        border-style: none;
                        padding-left: 40px;
                        font-size: 18px;
                    }
                }
                #searchpage-regioncity-select-wrapper{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    width: 20%;
                    border-radius: 8px;
                    border-style: groove;
                    border-width: 1px;
                    border-color: white;
                    padding: 4px;
                    &:hover{
                        opacity: 0.7;
                    }
                    #locationselect-button{
                        width: 100%;
                        height: 40px;
                        background-color: #333;
                        border-style: none;
                        display: flex;
                        flex-direction: column;
                        color: white;
                        text-align: left;
                        font-size: 14px;
                        #regionspan-text{
                            color: white;
                            margin: 0px;
                            padding-left: 2px;
                        }
                        #cityspan-text{
                            color: white;
                            margin: 0px;
                            padding-left: 2px;
                        }
                    }
                    #location-arrow-up{
                        display: none;
                        margin-left: 8px;
                        margin-right: 4px;
                    }
                    #location-arrow-down{
                        margin-left: 8px;
                        margin-right: 4px;
                    }
                }
            }
        }
    }
}
//************************** Search-window Section END ***********************//
@media(min-width: 875px){
    #locationselectwindow{
        height: 50vh;
        width: 0px;
        position: fixed;
        z-index: 10;
        top: 25vh;
        right: 50%;
        background-color: $dark-blue2;
        overflow-x: hidden;
        transition: 0.5s;
        display: flex;
        flex-direction: column;
        color: white;
        border-radius: 6px;
        box-shadow: 5px 10px 10px rgba(51, 51, 51, 0.384);
        #locationheader-wrapper{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 2px;
            padding: 10px 20px 0px 20px;
            h2{
                font-size: 18px;
                margin: 0px;
            }
            a{
                font-size: 40px;
                &:hover{
                    cursor: pointer;
                }
            }
        }
        #locationhelasverige{
            padding-left: 20px;
            border-bottom: 1px solid white;
            padding-bottom: 6px;
        }
        #locationselect-wrapper{
            display: flex;
            flex-direction: row;
        }
        #locationselect-wrapper{
            overflow-y: auto;
            overflow-x: hidden;
            #locationselectwindow-region{
                margin-top: 10px;
                margin-left: 20px;
                display: flex;
                flex-direction: column;
                gap: 8px;
                width: 100%;
                #locationregion-specific{
                    display: flex;
                    flex-direction: column;
                    gap: 6px;
                    border-top: white 1px;
                    padding-bottom: 10px;
                }
            }
        }
        #locationselectwindow-separator{
            border-left: black 1px;
            height: 100%;
            width: 2px;
        }
        .locationregion-row{
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 8px;
            font-size: 16px;
            width: 100%;
            p{margin: 0px;}
            #locationregion-row-wrapper-1{
                display: flex;
                flex-direction: row;
                gap: 8px;
                align-items: center;
                width: 50%;
            }
        }
        #location-button-wrapper{
            display: flex;
            flex-direction: row;
            gap: 10px;
            padding: 10px;
            #location-initiate-button{
                border-radius: 8px;
                width: 50%;
                padding: 8px;
                font-size: 14px;
                font-weight: bold;
                color: white;
                background-color: $rendex-black2;
                border-style: none;
                &:hover{
                    opacity: 0.8;
                }
            }
            #location-city-button{
                border-radius: 8px;
                width: 50%;
                padding: 8px;
                font-size: 14px;
                font-weight: bold;
                color: white;
                background-color: $hover-dark;
                border-style: none;
                &:hover{
                    opacity: 0.8;
                }
            }
        }
    }
    #locationselectwindow-city{
        height: 50vh;
        width: 0px;
        position: fixed;
        z-index: 10;
        top: 25vh;
        right: 50%;
        background-color: $dark-blue2;
        overflow-x: hidden;
        transition: 0.5s;
        display: flex;
        flex-direction: column;
        color: white;
        border-radius: 6px;
        box-shadow: 5px 10px 10px rgba(51, 51, 51, 0.384);
        #locationheader-wrapper-city{
            padding: 10px 20px 0px 20px;
            border-bottom: 1px solid white;
            margin-bottom: 2px;
            h2{
                font-size: 18px;
                margin-bottom: 8px;
                margin-top: 8px;
            }
            #allareas-wrapper{
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 6px;
                font-size: 16px;
                margin-bottom: 4px;
            }
        }
        #locationselect-cityoptions{
            overflow-y: auto;
            margin-left: 20px;
            height: 343px;
            .locationcityoptions{
                display: flex;
                flex-direction: column;
                gap: 6px;
                padding-top: 4px;
                .singlecityoption{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 6px;
                    label{
                        font-size: 16px;
                    }
                }
            }
        }
        #cityoptionbtns{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 10px;
            #backtoregionselect{
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 12px;
                background-color: $rendex-black2;
                padding: 8px;
                border-radius: 8px;
                color: white;
                font-size: 14px;
                font-weight: bold;
                border-style: none;
                width: 48%;
                &:hover{
                    opacity: 0.8;
                }
            }
            #selectcitybtn{
                background-color: $hover-dark;
                border-radius: 8px;
                color: white;
                font-size: 14px;
                font-weight: bold;
                border-style: none;
                width: 48%;
                &:hover{
                    opacity: 0.8;
                }
            }
        }
    }
}