// ************************** Search-result section ***************************//
.search-result-main{
    padding-top: 0;
    background-color: #fff;
}
.search-result-topwrapper{
    width: 100%;
    display: grid;
}
@media(min-width:875px){
    #searchbutton-wrappers{
        height: 100px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        display: none;
    }
    .search-result-wrapper{
        display: flex;
        justify-content: center;
        width: 100%;
        margin: auto;
    }
    .search-result-midpage{
        display: flex;
        width: 60%;
        flex-direction: column;
        .search-result-midpage-header{  // Header Section //
            display: flex;
            width: 100%;
            justify-content: space-between;
            align-items: center;
            .search-result-midpage-header-right{
                width: 50%;
                text-align: right;
            }
            .search-result-midpage-header-left{
                width: 50%;
                text-align: left;
                h1{font-size: 16px;}
            }
        }                               // End of Header section //
        .search-result-midpage-results{    // Result Section //
            width: 100%;
            margin-bottom: 40px;
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
            #article-wrapper-wrapper{
                width: 70%;
                .article-wrapper{
                    display: flex;
                    flex-direction: row;
                    padding: 10px 20px 10px 20px;
                    border-radius: 4px;
                    background-color: #f4f4f4 !important;
                    justify-content: space-between;
                    .article-image-wrapper{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 6vw;
                        height: 6vw;
                        border-radius: 10px;
                        background-color: #fff;
                        img{
                            margin: auto;
                            width: 90%;
                            height: 90%;
                        }
                    }
                    .article-information-wrapper{
                        width: 80%;
                        display: flex;
                        flex-direction: column;
                        .title-wrapper{
                            display: flex;
                            flex-direction: row;
                            justify-content: center;
                            .article-title{
                                width: 70%;
                                margin: 0px;
                            }
                            .time-stamp{
                                width: 30%;
                                margin: 0px;
                            }
                        }
                        .article-information-bottom{
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            margin-top: auto;
                            .article-info{
                                width: 30%;
                            }
                            .article-rating{
                                display: flex;
                                flex-direction: row;
                                align-items: center;
                            }
                            .article-price{
                                margin: 0px;
                            }
                            .article-class{
                                margin: 0px;
                            }
                        }
                    }
                }
            }
            .search-result-rightpage{
                width: 25%;
                background-color: slategray;
                border-radius: 3px;
            }
        }
    }
    #searchpage-sidemenu-wrapper{
        display: flex;
        flex-direction: row-reverse;
        position: fixed;
        z-index: 15;
        background-color: #333;
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
        left: 0px;
        top: 240px;
        #arrowopen-anchor{
            cursor: pointer;
            &:hover{
                opacity: 0.5; 
            }
            #sidemenu-arrow-open{
                margin: 6px;
                display: block;
            }
        }
        #arrowclose-anchor{
            display: none;
            cursor: pointer;
            &:hover{
                opacity: 0.5; 
            }
            #sidemenu-arrow-close{
                margin: 6px;
                margin-left: 400px;
            }
        }
    }
    #searchpage-sidemenu{
        width: 0px;
        height: 0px;
        overflow: hidden;
        color: black;
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 10;
        top: 0;
        left: 0;
        padding-top: 20px;
        background-color:white;
        overflow-x: hidden;
        overflow-y: auto;
        transition: 0.5s;
        display: flex;
        flex-direction: column;
        .sidemenu-option-wrapper{
            display: flex;
            flex-direction: column;
            h2{
                font-size: 20px;
                margin-bottom: 4px;
                margin-top: 4px;
                padding-left: 40px;
            }
            a{
                font-size: 16px;
                &:hover{
                    color: white;
                }
            }
            .sidemenu-option-div{
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 10px 10px 10px 40px;
                .whitearrowright{
                    display: none;
                }
                &:hover{
                    background-color: rgba(51, 51, 51, 0.8);
                    color: white;
                    cursor: pointer;
                    .blackarrowright{
                        visibility: hidden;
                    }
                    .whitearrowright{
                        display: block;
                    }
                }
            }
        }
    }
    .sidemenu-separator{
        height: 1px;
        border-bottom: groove 1px;
    }
    #darkcover{
        display: none;
        position: fixed;
        top: 0;
        height: 100%;
        width: 100%;
        z-index: 2;
        background-color: rgba(0, 0, 0, 0.6);
        transition: 0.5s;
    }
    .sidemenuextended{
        width: 0px;
        height: 0px;
        overflow: hidden;
        color: black;
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 20;
        top: 0;
        left: 0px;
        padding-top: 20px;
        background-color:white;
        overflow-x: hidden;
        overflow-y: auto;
        transition: 0.5s;
        display: flex;
        flex-direction: column;
        .sidemenu-option-div{
            display: flex;
            justify-content: left;
            align-items: center;
            padding: 10px 10px 10px 40px;
            h2{
                font-size: 18px;
                font-weight: bold;
                margin-top: 0;
                margin-bottom: 0;
                margin-left: 20px;
            }
            p{
                font-size: 16px;
                margin: 0px;
            }
            .whitearrowleft{
                display: none;
            }
            &:hover{
                background-color: #333333cc;
                color: white;
                cursor: pointer;
                .blackarrowleft{
                    visibility: hidden;
                }
                .whitearrowleft{
                    display: block;
                }
                h2{
                    margin-left: 5px;
                }
            }
        }
    }
}
// ************************** Search-result section ***************************//