// *********************** Search-window Section Start ************************//
@media(min-width:875px){
    #search-tabber{
        display: flex;
        flex-wrap: wrap;
        flex-flow: row; 
        margin-top: 50px;
        width: 100%;
        background-color: $dark-blue2;
        @media(min-width:875px){
            border-bottom: white 1px solid;
        }
    }
}
@media(max-width:750px){
    #search-tabber{
        margin-top: 56px;
        width: 100%;
        background-color: $dark-blue2;
    }
}
@media(max-width:875px) and (min-width:750px){
    #search-tabber{
        margin-top: 50px;
        background-color: $dark-blue2;
    }
}

@media(max-width:875px){ //750-875px //
    #search-tabber{
        display: flex;
        flex-wrap: wrap;
        flex-flow: row;
    }
    #search-tabber-subdiv{
        display: flex;
        width: 100%;
        height: 60px;
        margin: 0;
        align-items: center;
        .indexsearch-input{
            display: flex;
            height: 50px;
            position: relative;
            border: medium none;
            width: 50%;
            .searchpage-search{
                width: 100%;
                height: 40px;
                padding: 5px;
                margin-left: -5px;
                border-radius: 3px;
                border-style: none;
                padding-left: 40px;
                font-size: 14px;
            }
        }
        #searchpage-regioncity-select-wrapper{
            display: flex;
            width: 50%;
            #select-separator{
                border-left: 1px solid white;
                opacity: 0.4;
                width: 0px;
                margin: 8px 8px 8px 8px;
            }
            #searchpage-regionselect-wrapper, #searchpage-cityselect-wrapper{
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                width: 50%;
                height: 50px;
                justify-content: right;
                justify-content: flex-end; // for Chrome and Edge //
                .searchpage-cityselect-form{                
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    width: 100%;
                    select{
                        width: 100%;
                        height: 40px;
                        padding-left: 10px;
                        border-radius: 3px;
                        border-style: none;
                        appearance: none;
                        background-color: $dark-blue2;
                        color: white;
                        font-size: 15px;
                    }
                } 
            }
        }
    }
}
@media(min-width:875px){
    #search-tabber-subdiv{
        display: flex;
        width: 60%;
        height: 60px;
        margin: auto;
        align-items: center;
        z-index: 1;
        .indexsearch-input{
            display: flex;
            height: 50px;
            position: relative;
            border: medium none;
            width: 80%;
            .searchpage-search{
                width: 100%;
                height: 40px;
                padding: 5px;
                margin-left: -5px;
                border-radius: 3px;
                border-style: none;
                padding-left: 40px;
                font-size: 18px;
            }
        }
        #searchpage-regioncity-select-wrapper{
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 20%;
            #locationselect-button{
                width: 100%;
                height: 40px;
                background-color: $dark-blue2;
                border-style: none;
                display: flex;
                flex-direction: column;
                color: white;
                text-align: left;
                font-size: 14px;
                #regionspan-text{
                    color: white;
                    margin: 0px;
                    padding-left: 2px;
                }
                #cityspan-text{
                    color: white;
                    margin: 0px;
                    padding-left: 2px;
                }
            }
            #location-arrow-up{
                display: none;
                margin-left: 8px;
            }
            #location-arrow-down{
                margin-left: 8px;
            }
        }
    }
}
//************************** Search-window Section END ***********************//
@media(min-width: 875px){
    #locationselectwindow{
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 10;
        top: 50%;
        right: 0;
        background-color: #545454;
        overflow-x: hidden;
        padding-top: 60px;
        transition: 0.5s;
        display: flex;
        flex-direction: row;
        color: white;
    }
}
