@media(min-width:875px){
    #account-page{
        display: flex;
        flex-direction: column;
        #account-page-wrapper{
            display: flex;
            flex-direction: row;
            gap: 10px;
            width: 80%;
            margin: auto;
            #account-image-wrapper{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 20%;
                height: 100px;
                padding: 20px;
                background-color: black;
                color: white;
                #companylogologo{
                    height: 100px;
                    width: 100px;
                }
            }
            #account-companybackground{
                width: 80%;
                padding: 20px;
                background-color: gray;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                #account-companybackground-column1{
                    .companyheader-div{
                        h2{
                            margin: 0px;
                        }
                    }
                    #companyshortinformation{
                        display: flex;
                        flex-direction: column;
                        p{
                            margin: 0;
                            margin-top: 4px;
                        }
                    }
                }
                #account-companybackground-column2{
                    display: flex;
                    text-align: right;
                    p{
                        margin: 0;
                        margin-bottom: 4px;
                    }
                    #numberofreviewscompany{
                        font-weight: bold;
                    }
                    #companybackground-rating{
                        display: flex;
                        flex-direction: row;
                        gap: 2px;
                    }
                }
            }
        }
        #companyannonser{
            width: 80%;
            margin: auto;
            background-color: honeydew;
            #companyannonser-wrapper{
                background-color: hotpink;
            }
        }
    }
    #companybroadbackground{
        display: flex;
        margin: 10px auto 10px auto;
        width: 80%;
        background-color: gray;
        #companybroadbackground-text{
            padding: 20px;
        }
    }
}