/* Create Account START */
#createaccountsection{
    display: flex ;
    justify-content: center;
    margin: 80px 0 40px 0;
    #createaccount-btn{ 
        width: 200px; 
        height: 40px; 
        background-color: #00006d; 
        color: white; 
        border-radius: 20px; 
        border-style: solid; 
        border-color: whitesmoke; 
        font-size: 18px;
        padding: 8px;
        margin: auto;
        &:hover{
            background-color: #000042;
        }
    }
    #agreetoa{
        width: auto;
    }
}
#createaccountheaderdiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    width: 70%;
    padding: 20px;
}
#createaccountwrapper{
    display: flex;
    flex-direction: row;
    overflow: hidden;
    width:80%;
    margin: auto;
    background-color: white;
    border-radius: 6px;
    #form-wrapper{
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 60%;
        padding: 10px;
        #insurance-wrapper{
            display: flex;
            flex-direction: column;
            margin-top: 10px;
            p{margin-top: 0;}
        }
        #fullname-input-wrapper{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
            .firstname-wrapper, .lastname-wrapper{
                width: 48%;
                display: flex;
                flex-direction: column;
                p{
                    margin-top: 0;
                    margin-bottom: 2px;
                }
            }
        }
        #account-role-select, #account-region-select, #account-postalcode, #account-email{
            display: flex;
            flex-direction: column;
            p{
                margin-top: 0;
                margin-bottom: 2px;
            }
        }
        #account-createpassword{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            #password-first-wrapper, #password-repeat-wrapper{
                width: 48%;
                display: flex;
                flex-direction: column;
                p{
                    margin-top: 0;
                    margin-bottom: 2px;
                }
            }
        }
        select{
            height: 30px; 
            width: 100%;
            font-size: 16px;
            border-radius: 6px;
            color: black;
            padding-left: 10px;
            appearance: none;
            outline: none;
        }
        /* Inputs */
        input{ 
            height: 30px;
            font-size: 16px;
            border-radius: 6px;
            outline: none;
            border: 1px groove black;
            color: black;
            padding-left: 10px;
        }
    }
    #createaccount-hero{
        background-color: $dark-blue;
        color: white;
        width: 40%;
        padding: 20px;
        padding-left: 40px;
        h1{
            font-size: 28px;
            margin-bottom: 0;
        }
        p{
            margin-top: 2px;
        }
    }
    a{color: blue;
    &:hover{color: slategray;}}
    p{
        text-align: left; 
        margin-bottom: 0;
    }
    .checkboxdiv{
        display:flex; 
        align-items: center; 
        font-size: 12px;
    label{
        margin-left: 5px;
        }
    }
}

/* Create Account END */

/********************* ANIMATIONS *************************/
