@media(max-width:875px){
    footer {
        overflow: hidden;	
        width: 100vw;
        background-color: #333;
        color: white;
        ul{
            margin: 0; 
            padding: 0;
        }
    }
    .boxtest{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        padding-left: 10px;			
        width: 100%;					
        height: auto; 						
        h2{font-size: 20px;}
        li{list-style-type: none; font-size: 16px;margin-bottom: 6px;}
        #footercolumn1, #footercolumn2, #footercolumn3{
            display: flex;
            flex-direction: column;
            width: 90%;
            h2{
                font-size: 30px;
                margin-bottom: 6px;
            }
            ul{
                li{
                    font-size: 25px;
                    margin-bottom: 20px;
                }
            }
        }
    }
    #socialmedia-wrapper{
        display: flex;
        flex-direction: row;
        a:nth-child(1){
            margin-left: 3vw;
        }
        a:nth-child(2){
            margin-left: 6vw;
            margin-right: 6vw;
        }
        .socialmediabadge{
            width: 40px;
            height: 40px;
        }
    }
    .appbadge{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin: 50px auto auto auto;
        width: 90vw;
        a{
            margin: 0;
        }
    }
    #applebadge, #googlebadge{
        display: flex;
        flex-wrap: wrap;
        img{
            width: 40vw;
            height: 80px;
        }
    }
    .endbox{
        background-color: #333;
        width: 100%;
        padding-bottom: 20px;
        text-align: center;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 50px;
        p{
            font-size: 30px;
        }
    }   
}