@media(max-width:875px){
    main{
        width: 100vw;
        overflow: hidden;
        #firstpage-background{
            margin-top: -12px;
            background-image: url(../images/Showcase3.jpg);
            background-position: center;
            background-size: cover;
            height: 300px;
            width: 100vw;
        }
    }
    #indexsearchsection{
        margin-top: -34px;
        width: 100vw;
        #indexheaderdiv{
            padding-top: 10px;
            padding-left: 10px;
            h1{
                padding: 0 20px 0 0px; 
                width: 100%; 
                background-size: contain;
                font-size: 30px;
                margin-bottom: 0;
            }
            p{
                padding: 0 20px 0 0px; 
                width: 100%;
                font-size: 24px;
                margin-top: 4px;
            }
        }
        #indexwrapper{
            background-color: #d3d1d1;
            margin-top: 20px; 
            width: 100%;
            h1{
                padding-top: 20px;
                font-size: 26px;
                margin: 0px;
                padding-left: 10px;
            }
            #tablewrappersearch{
                display: flex; 
                flex-direction: column; 
                gap: 10px;
                padding-left: 10px;
                padding-right: 10px;
                .column1{
                    .tablesearch{
                        width: 100%;
                    }
                }
                .column1, .column2{
                    flex-direction: column;
                    width: 100%;
                } 
                .column1 p, .column2 p{
                    margin: 20px 0 0 0; 
                    font-size: 20px;
                }
            }
            .indexsearchbutton{
                display: flex;
                justify-content: center;
                margin-top: 10px;
                #indexsearchbutton{
                    width: 90%; 
                    height: 40px; 
                    font-size: 20px; 
                    padding: 6px;
                    color:white;
                    border-radius: 10px;
                    border-style: none;
                    background-color: $dark-blue; 
                    margin-top: 20px;
                    margin-bottom: 10px;
                }
            }
            #select:invalid{
                color: gray;
            }
        }
    }
    .mainindex-search-wrapper{
        width: 100%;
        #mainRegionSelect{
            width: 100%;
            font-size: 20px;
            height: 40px;
        }
    }
    #indexSearchCitySelect{
        width: 100%;
        height: 40px;
        .mainCitySelect{
            width: 100%;
            font-size: 20px;
            height: 40px;
        }
    }
    #mainRegionSelect, .mainCitySelect, #mainRoleSelect, #mainPurposeSelect{
        display: flex; 
        margin-top: 10px;
    }
    .arrow-select{
        position: absolute;
        margin-right: 4vw;
        border-top: 0.5em solid black;
        border-right: 0.5em solid transparent;
        border-left: 0.5em solid transparent;
    }
    .column2{
        .tablesearch{
            width: 100%;
            #indexSearchRoleSelect{
                #mainRoleSelect{
                    width: 100%;
                    font-size: 20px;
                    height: 40px;
                }
            }
            #indexSearchPurposeSelect{
                #mainPurposeSelect{
                    width: 100%;
                    font-size: 20px;
                    height: 40px;
                }
            }
        }
    }
    .mainindex-search-wrapper-wrapper{
        display: flex;
        width: 100%;
        #indexSearchRegionSelect, #indexSearchCitySelect, #indexSearchRoleSelect, #indexSearchPurposeSelect{
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            position: relative;
            justify-content: right;
            justify-content: flex-end;
            width: 100%;
            select{
                padding-left: 10px;
            }
        }
    }
    #tablewrappersearch{
        display: flex;
        gap: 10px;
        select{
            border-radius: 3px; 
            border-color: #333; 
            border-width: 1px; 
            appearance: none; 
            margin-top: 0px;
        }
    }
}
@media(max-width:875px){
    #company-number-row{
        text-align: center;
        h1{font-size: 64px; color: #333; margin-bottom: 10px; 
        margin-top: 5px;}
        p{width: 100%;}
        a{color: blue;
            &:hover{color: slategray;}
        }
    }
    #index-text{
        display: none;
    }
    #index-text-mobile{
        margin-top: 16px;
        padding: 10px;
        padding-bottom: 20px;
        background-color: #333333b9;
        h2{
            color: white;
            margin-top: 4px;
        }
        #index-text-wrapper-mobile{
            display: flex;
            flex-direction: column;
            gap: 20px;
            .index-text-row-mobile{
                background-color: #f4f4f4;
                padding: 10px;
                border-radius: 6px;
                h3{
                    margin-bottom: 4px;
                    margin-top: 4px;
                    color: $dark-blue;
                }
                p{
                    margin-top: 2px;
                    font-weight: 510;
                }
                a{
                    color: #2c7688;
                    font-weight: 510;
                }
            }
        }
    }
}
@media(max-width:875px){ 
    #index-showcase-offers{
        background-color: #ffa6003b;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100vw;
        text-align: center;
        h2{
            font-size: 28px;
        }
        #index-showcase-offers-wrapper{
            display: flex;
            flex-direction: column;
            width: 100vw;
            .indexshowcase-offers-column{
                display: flex;
                flex-direction: column;
                margin: auto;
                width: 90vw;
                background-color: #f4f4f4;
                padding: 10px;
                border-radius: 8px;
                margin-bottom: 20px;
                .indexshowcase-img{
                    width: 125px;
                    height: 125px;
                    border-radius: 50%;
                }
                h3{
                    font-size: 24px;
                    margin-top: 6px;
                    margin-bottom: 2px;
                    text-align: left;
                    padding-left: 10px;
                }
                p{
                    padding: 10px;
                    font-size: 16px;
                    margin-top: 0px;
                    text-align: left;
                    
                }
            }
        }
    }
}