@media(max-width:875px){
    #login{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 20px;
        .containercentre-wrapper-wrapper-mobile{
            display: flex;
            flex-direction: column;
            width: 100vw;
            text-align: center;
            .containercentre-wrapper-mobile{
                display: none;
                margin-left: 10px;
                margin-right: 10px;
                background-color: white;
                .containercentre-firstrow-mobile{
                    padding: 20px;
                    h1{font-size: 22px;}
                    h3{font-size: 16px; font-weight: normal; line-height: 1.4; margin-top: 0px;}
                    .bankID-mobile{
                        display: flex;
                        flex-direction: column;
                        #bankid-insurancenumber{
                            margin: auto;
                            margin-bottom: 10px;
                            font-size: 18px;
                            border-radius: 6px;
                            border-style: groove 0.5px;
                            padding: 6px 6px 6px 8px;
                            width: 80vw;
                            user-select: none;
                        }
                        .open-bankid, .bankid-other-devices{
                            width: 80vw;
                            border-radius: 20px;
                            font-size: 18px;
                            padding: 8px;
                            margin: auto;
                        }
                        .open-bankid{
                            background-color: #00006d; 
                            color: white; 
                            border-style: none;
                        }
                        .bankid-other-devices{
                            border-color: #00006d; 
                            background-color: white;
                        }
                        p{
                            margin: 8px; 
                            font-size: 18px;
                        }
                        #credentials-login-btn{
                            margin: 30px auto 0px auto;
                            font-size: 18px;
                            border-radius: 6px;
                            border-style: groove 0.5px;
                            width: 80vw;
                            background-color: $dark-blue;
                            color: white;
                            border-style: none;
                            padding: 14px;
                            border-radius: 6px;
                            border-style: none;
                            font-weight: bolder;
                        }
                    }
        
                }
            }
            .containercentre-secondrow-mobile{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                border-top: 1px solid $rendex-black10;
                margin: 0px 10px 10px 10px;
                padding: 10px 20px 10px 20px;
                background-color: white;
                border-bottom-left-radius: 8px;
                border-bottom-right-radius: 8px;
                a{
                    font-size: 16px; 
                    color: #00006d; 
                    font-weight: bold;
                }
            }
        }
        .company-information-row{
            text-align: center;
            margin-top: 20px;
            p{margin: 5px; font-size: 12px; color: #707070;}
        } 
        #side-menuhelp{
            #close-sidehelp-button{
                width: 90vw;
                margin-left: 20px;
                margin-top: 16px;
                border-radius: 8px;
                border-color: black;
                border-style: solid;
                padding: 8px;
                font-size: 20px;
                font-weight: 600;
            }
        }
        .containercentre-wrapper-wrapper{
            background-color: white;
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
            margin-left: 10px;
            margin-right: 10px;
            margin-top: 20px;
            .containercentre-secondrow{
                display: none;
            }
            .containercentre-wrapper{
                h1{
                    text-align: center;
                    margin-bottom: 0px;
                }
                #containercentre-firstrow-desktop{
                    display: none;
                } 
            }
            #alternative-login-wrapper-wrapper{
                margin: auto;
                width: 100%;
                #alternative-login-wrapper{
                    display: flex;
                    flex-direction: column;
                    flex-wrap: wrap;
                    margin: auto;
                    width: 80%;
                    padding: 20px;
                    gap: 20px;
                    #bankid-button-wrapper{
                        display: flex;
                        #bankid-initatebutton{
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            margin: auto;
                            width: 95%;
                            font-size: 18px;
                            padding: 14px;
                            border-radius: 6px;
                            border-style: none;
                            font-weight: bolder;
                            background-color: $dark-blue;
                            color: white;
                            &:hover{
                                background-color: #000041;
                                cursor: pointer;
                            }
                            img{
                                width: 25px;
                                height: 25px;
                                margin-left: 30px;
                            }
                        }
                    }
                    #error-message-login-wrapper{
                        display: none;
                        padding: 20px;
                        #error-message-login{
                            display: flex;
                            flex-direction: row;
                            justify-content: center;
                            align-items: center;
                            background-color: #ff000021;
                            padding: 10px;
                            border-radius: 8px;
                            #error-message-text{
                                margin-left: 20px;
                                text-align: left;
                                p{
                                    margin: 0;
                                }
                            }
                        }
                        #error-message-warningsymbol{
                            height: 40px;
                            width: 40px;
                        }
                    }
                    #username-wrapper, #password-wrapper{
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: flex-end;
                        #clearusername, #clearpassword{
                            display: none;
                            #clearusername-btn, #clearpassword-btn{
                                display: none;
                            }
                        }
                    }
                    #användarnamnlogin, #lösenordlogin{
                        width: 90%;
                        height: 40px;
                        border-radius: 6px;
                        padding-left: 10px;
                        margin: auto;
                    }
                    #login-btn{
                        margin: auto;
                        width: 95%;
                        font-size: 18px;
                        padding: 14px;
                        border-radius: 6px;
                        border-style: none;
                        font-weight: bolder;
                        background-color: $dark-blue;
                        color: white;
                    }
                    #forgot-password{
                        font-size: 18px;
                        color: $dark-blue;
                        margin-left: 12px;
                        text-align: left;
                    }
                }
            }
        }
    }
}
